:host {

}

:host ::-webkit-scrollbar {
    visibility: visible;
    direction:ltr;
}

:host ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    /*background-color: white;*/
    border-radius: 10px;
}

:host ::-webkit-scrollbar-track {
    border-radius: 10px;
    /*background: rgba(64, 114, 255, 0.2);*/
}

:host ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /*background: rgba(0, 50, 189, 0.3);*/
}

:host ::-webkit-scrollbar-thumb:hover {
    /*background: rgba(26, 0, 194, 0.4);*/
}

:host ::-webkit-scrollbar-thumb:active {
    /*background: rgba(0, 52, 210, 0.9);*/
}

